<header class="card_title">
	<h3>
		<span class="edit js-edit-card-title"><%= card.escape("title") %></span>
	</h3>
	<!--<span>Liste: <%= list.escape("title") %></span>-->
</header>

<p>
Beschreibung:<br><span class="edit js-edit-card-description"><%= card.escape("description") %></span>
</p>

<div class="members">
	<% if (assignee) { %>
		<img src="<%= assignee.get("gravatar_url") %>" />
	<% } %>
</div>

<h5>Aktivitäten</h5>

<form id="add_comment">
  <textarea name="card_comment[content]"
  					class="card_comment_content"
  					placeholder="Schreibe einen Kommentar"></textarea>
	<input type="submit" value="Comment" />
</form>

<ul class="card_comments">
<% comments.each(function (comment) { %>
	<% user = comment.get("user") %>
	<li>
		<article class="comment">
			<header>
				<img src="<%= user.get("gravatar_url") %>" />
			</header>

			<a rel="author">Sean Omlor</a>

			<div class="content">
				<%= comment.escape("content") %>
			</div>

			<footer>
				<abbr class="timeago quiet" title="<%= comment.escape("created_at") %>"><%= comment.escape("created_at") %></abbr>
			</footer>
		</article>
	</li>
<% }); %>
</ul>

<section class="comments"></section>
<a href="#close-modal" rel="modal:close" class="close-modal-custom">Close</a>
